@import url('base.css');

/* CHANGELISTS */

#changelist { position:relative; width:100%; }
#changelist table { width:100%; }
.change-list .filtered table { border:none;  }
.change-list .filtered { min-height:400px; }
.change-list .filtered { background:white url(../img/admin/changelist-bg.gif) top right repeat-y !important; }
.change-list .filtered table, .change-list .filtered .paginator, .filtered #toolbar { margin-right:0px !important; width:auto !important; }
.xfull { margin:3px 0px 3px 5px !important; padding:0; }
.date_selected { font-weight:bold; color:#d00; font-family:tahoma; font-size:11px; } /* */
.change-list .filtered table tbody th { padding-right:1em; }
#changelist .toplinks { border-bottom:1px solid #ccc !important; }
#changelist .paginator { color:#666; border-top:1px solid #eee; border-bottom:1px solid #eee; background:white url(../img/admin/nav-bg.gif) 0 180% repeat-x; overflow:hidden; }
/*.change-list .filtered .paginator { border-right:0px solid #ddd; }*/

/* CHANGELIST TABLES */

#changelist table thead th { white-space:nowrap; }
#changelist table tbody th { padding:5px; vertical-align:middle; } /* border-left:0px solid #ddd; */
#changelist table tbody td { padding:3px 5px 3px 5px !important; vertical-align:middle; border:0px solid #ddd; }
#changelist table tfoot { color: #666; }

/* TOOLBAR */

#changelist #toolbar { padding:3px; border-bottom:1px solid #ddd; background:#e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x; color:#666; }
#changelist #toolbar form input { font-size:11px; padding:1px 2px; }
#changelist #toolbar form #searchbar { padding:2px; }
#changelist #changelist-search img { vertical-align:middle; }

/* FILTER COLUMN */

#changelist-filter { 
    width:252px; 
    border:1px solid #666; 
    background:#eec; 
    margin:0; 
    padding-bottom:5px;
    display:block; 
    -webkit-box-shadow: 0px 3px 5px #14314F; 
} /* #eec */

/* #filter-panel { display:block; } */
#changelist-filter h2 { font-size:11px; padding:2px 5px 4px; border-bottom:1px solid #fff; }
#changelist-filter h3 { font-size:12px; margin-bottom:0; color:#424; }
#changelist-filter h4 { font-size:12px; padding:2px 5px 4px; border-bottom:1px solid #fff; }
#changelist-filter ul { padding-left:0; margin-left:10px; border:0px solid #666; }
#changelist-filter li { list-style-type:none; }
#changelist-filter a { color:#888; }
#changelist-filter a:hover { color:#408; }
#changelist-filter li.all, #changelist-filter li.novalue, #changelist-filter li.bool { padding-left:5px; }
#changelist-filter li.choice { padding-left:10px; }
#changelist-filter li.selected { border-left:5px solid #000; margin-left:-5px; }
#changelist-filter li.selected a { color:#a22; text-decoration:underline; font-weight:normal; } /*5b80b2*/

/* DATE DRILLDOWN */

.change-list ul.toplinks { display:block; background:white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x; border-top:1px solid white; float:left;  padding:0 !important;  margin:0 !important; width:100%; }
.change-list ul.toplinks li { float: left; width: 9em; padding:3px 6px; font-weight: bold; list-style-type:none; }
.change-list ul.toplinks .date-back a { color:#999; }
.change-list ul.toplinks .date-back a:hover { color:#036; }
