{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}chabge-form{% endblock %}

{% block userlinks %}{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<td colspan="2" width="50%">

<table class="content-form" width="100%" border="0">
<tr><td>

<div id="content-main">
  <div class="module required">
     <h2>{% trans 'Password change' %}</h2>
     <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

     <form action="" method="post">
     {{ form.old_password.errors }}

     <div class="form-row aligned field-box">
       <label for="id_old_password">{% trans 'Old password:' %}</label> <input type="password" name="old_password" id="id_old_password" />
     </div>
     <div class="form-row aligned field-box">
       <label for="id_new_password1">{% trans 'New password:' %}</label> <input type="password" name="new_password1" id="id_new_password1" />
     </div>
     <div class="form-row aligned field-box">
       <label for="id_new_password2">{% trans 'Confirm password:' %}</label> <input type="password" name="new_password2" id="id_new_password2" />
     </div>

     <br>

     <div class="submit-row">
     <table style="width:100%" border="0">
     <tr>
       <td><input class="default" type="submit" value="{% trans 'Change my password' %}" /></td>
     </tr>
     </table>
     </div>

     </form>
  </div>
</div>

</td></tr></table>

</td>

{% endblock %}
