{% load adminmedia i18n extras %}

{% if cl.search_fields %}
<div id="toolbar">

<table border="0">
<form id="changelist-search" action="" method="get">

<tr>
  {% if cl.has_filters %}
  <td nowrap>
    <button type="button" id="hide-filter" title="hide filter">&#171;</button><button type="button" id="show-filter" title="show filter">&#187;</button>
  </td>
  {% endif %}

  <td nowrap>
    <label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
    <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
    <input type="submit" id="go" value="{% trans 'Go' %}" />
  {% if cl.has_page_size %}
    &nbsp;&nbsp;<strong>{% trans 'Page size' %}:</strong>&nbsp;{% paginator_size_extras cl %}
  {% endif %}

</td><td nowrap>

{% if show_result_count %}
  <span>{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
  {% ifnotequal pair.0 search_var %}
  {% ifnotequal pair.0 page_size_var %}
  {% ifnotequal pair.0 show_filter_var %}
  <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
  {% endifnotequal %}
  {% endifnotequal %}
  {% endifnotequal %}
{% endfor %}

  <input type="hidden" id="filter-show" name="{{ show_filter_var }}" value="{{ cl.show_filter }}"/>

</td><td align="right" width="100%" nowrap>
  {% total_estimated_time cl %}
</td></tr>
</form>
</table>

</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
