{% extends "wizard.html" %}
{% load adminmedia i18n %}

{% block stylesheet %}{% admin_media_prefix %}css/wizard.css{% endblock %}

{% block title %}{% trans 'Job-Entry Wizard' %} (Step5){% endblock %}

{% block content-tools %}

  <div class="wizard-tools">
    <button class="wizard-menubutton" type="button" onclick="window.location.href='../';">{% trans 'Home' %}</button>
    <button class="wizard-menubutton" type="button" onclick="window.location.href='../jobs/job/?f=0&ot=asc&o=6&status__id__exact=1';">{% trans 'Job Details' %}</button>
    <button class="wizard-menubutton" type="button" onclick="window.location.href='../references/myob/';">{% trans 'MYOBs' %}</button>
  </div>

{% endblock %}

{% block content-header %}{% trans "MYOB" %}{% endblock %}

{% block content-selected %}

  <div class="cooked">
    <p>
      Company: <strong>{{ company }}</strong><br>
      Branch: <strong>{{ branch }}</strong><br>
      Contact: <strong>{{ contact }}</strong><br>
      PayStructure: <strong>{{ pay }}</strong>
    </p>
  </div>

{% endblock %}

{% block content-step %}

  <img src="{% admin_media_prefix %}img/x5.png">{# <span class="clear">Step {{ step }} of {{ step_count }}</span> #}

{% endblock %}

{% block content-body %}

  {% for fieldset in wizardform %}
    {% include "jobs/includes/fieldset.html" %}
  {% endfor %}

{% endblock %}

{% block content-buttons %}

  <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
  {% if value_company %}<input type="hidden" name="4-company" value="{{ value_company }}" />{% endif %}
  {% if value_branch %}<input type="hidden" name="4-branch" value="{{ value_branch }}" />{% endif %}
  {% if value_contact %}<input type="hidden" name="4-contact" value="{{ value_contact }}" />{% endif %}
  {% if value_pay %}<input type="hidden" name="3-pay" value="{{ value_pay }}" />{% endif %}
  <input type="hidden" id="id_0-pk" name="0-pk" value="{{ value_company }}" />
  <input type="hidden" id="id_1-pk" name="1-pk" value="{{ value_branch }}" />
  <input type="hidden" id="id_2-pk" name="2-pk" value="{{ value_contact }}" />
  <input type="hidden" id="id_3-pk" name="3-pk" value="{{ value_pay }}" />
  <input type="hidden" id="id_4-pk" name="4-pk" value="{{ pk }}" />
  {{ previous_fields|safe }}
  <input class="button" type="button" value="start" onclick="window.location.href='./start';">
  <input class="button" type="button" value="<<< back" onclick="javascript:window.history.back();">
  <input class="button" type="submit" value="next >>>">
  <input class="button" type="submit" value="finish" onclick="this.form.action='./finish';">

{% endblock %}